== stylesheet_include 'default/edit'

== render_block :header, title: @model.class.clean_name, subtitle: "ID: #{@model.id}" do
  == link_to(:show, @model, 'Cancel', class: 'btn btn-outline-danger cancel-button')
br
== render_block(:form, model: @model)
