sass:
  .info
    .basics
      padding-right: 35px
      max-width: 70%
      table
        margin: auto
        &.details
          margin: auto
        td
          padding: 5px
          &.label
            font-weight: bold
            text-align: right
          &.description
            vertical-align: top
  .thumbnail-image
    max-width: 400px
    max-height: 300px
    min-width: 200px
    min-height: 200px
    margin: 0 15px
    display: inline-block
    img
      max-width: 100%
      max-height: 100%
  .tagline
    color: #959595
    font-size: 115%
    text-align: center
  td.image
    width: auto
  .details
    &.middle-align
      margin: auto
      padding: 25px
      width: auto
    &.float-right
      width: 400px
      margin-right: 25px


== slim :'defaults/header'
- tag = @model.setting_call(:tagline)
- img = @model.image_for(:thumbnail, class: 'height-3 baguette-image')
- desc = @model.setting_call(:description)
.centered.info
  br
  - if tag
    .tagline
      == tag
  - if desc || img
    .float-left.basics
      table
        tbody
          tr
            - if img
              td.image.thumbnail-image == img
            - if desc
              td.description
                == desc
.details class="#{img || desc ? 'float-right' : 'middle-align'}" == slim :'defaults/widgets/details'
