sass:
  body
    background-image: url('/assets/images/blocks.jpg')
    background-size: cover

== render_block 'header', title: "Welcome to BlockStack #{BlockStack::VERSION.split('.')[0..-2].join('.')}", subtitle: "Currently running: #{base_server}"
