sass:
  body
    overflow: hidden
  #backdrop
    min-width: 100%
    min-height: 100%
    z-index: -1
    position: absolute
    top: 0
    bottom: 0
    margin: auto

== render_block 'header', height: 300, title: "Welcome to BlockStack #{BlockStack::VERSION.split('.')[0..-2].join('.')}", subtitle: "Currently running: #{base_server}"
== image_tag('blocks', id: 'backdrop', class: 'ken-burns')
